---
import Image from '@components/Image/Image.astro';

const products = [
    {
        image: import('@images/product-1.png'),
        title: 'Mask',
        price: '54$',
        slug: 'hair-mask'
    },
    {
        image: import('@images/product-2.png'),
        title: 'Shampoo',
        price: '60$',
        slug: 'hair-shampoo'
    },
    {
        image: import('@images/product-3.png'),
        title: 'Balm',
        price: '49$',
        slug: 'hair-balm'
    },
    {
        image: import('@images/product-4.png'),
        title: 'Spray',
        price: '42$',
        slug: 'hair-spray'
    },
    {
        image: import('@images/product-1.png'),
        title: 'Gel',
        price: '58$',
        slug: 'hair-mask'
    },
    {
        image: import('@images/product-2.png'),
        title: 'Mask',
        price: '64$',
        slug: 'hair-shampoo'
    },
    {
        image: import('@images/product-2.png'),
        title: 'Foam',
        price: '52$',
        slug: 'hair-balm'
    },
    {
        image: import('@images/product-3.png'),
        title: 'Balm',
        price: '39$',
        slug: 'hair-spray'
    }
];
---

<header data-scroll-section>
    <div class="u-relative u-mt-[2vw]">
        <div class="u-container u-flex u-flex-col u-gap-gutter u-text-center">
            <h1 class="u-heading-h1 u-uppercase">Hair Care</h1>
            <p class="u-text-h3 u-uppercase">
                We`re taking a careful care of your hair on each step of washing hair routine
            </p>
        </div>
        <div class="splide u-mt-[3vw]" aria-label="Splide Basic HTML Example" data-swiper>
            <div class="splide__track">
                <ul class="splide__list u-flex u-gap-gutter">
                    {
                        products.map((product, index) => (
                            <li class="splide__slide">
                                <h3 class="u-text-h3">0{index + 1}</h3>
                                <a
                                    class="u-mt-gutter u-flex u-cursor-pointer u-flex-col u-items-center u-gap-gutter"
                                    href={`/products/${product.slug}`}
                                >
                                    <figure class="u-hover-scale u-relative u-aspect-[264/622] u-w-[25vw] lg:u-w-[12vw]">
                                        <Image
                                            src={product.image}
                                            alt={product.title}
                                            class="u-absolute u-inset-0 u-grid u-h-full u-w-full u-place-items-end u-object-cover"
                                        />
                                    </figure>
                                    <span class="u-text-center">
                                        <h4 class="u-text-h4 u-uppercase">{product.title}</h4>
                                        <p class="u-text-h5">{product.price}</p>
                                    </span>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 40 40"
                        width="40"
                        height="40"
                    >
                        <path
                            d="M24.5 13.5l-8 8 8 8"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"></path>
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 40 40"
                        width="40"
                        height="40"
                    >
                        <path
                            d="M16.5 13.5l8 8-8 8"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>

<script>
    import '@splidejs/splide/css/core';
    import Splide from '@splidejs/splide';

    const splide = new Splide('.splide', {
        type: 'loop',
        drag: 'free',
        perPage: 4,
        breakpoints: {
            1024: {
                perPage: 3
            }
        }
    });

    splide.mount();
</script>

<style>
    .splide__arrows {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .splide__arrow {
        position: absolute;
        background: #f4f8f9;
        border: 1px solid black;
        border-radius: 50%;
        padding: 0.3rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .splide__arrow:hover {
        background: black;
        color: white;
    }

    .splide__arrow--prev {
        left: 1rem;
    }

    .splide__arrow--next {
        right: 1rem;
    }
</style>
